In [1]:
%%time
import malaya

CPU times: user 4.88 s, sys: 778 ms, total: 5.66 s
Wall time: 5.41 s

In [2]:
string1 = 'xjdi ke, y u xsuke makan HUSEIN kt situ tmpt, i hate it. pelikle, pada'
string2 = 'i mmg xske mknn HUSEIN kampng tmpat, i love them. pelikle saye'
string3 = 'perdana menteri ke11 sgt suka makn ayam, harganya cuma rm15.50'
string4 = 'pada 10/4, kementerian mengumumkan, 1/100'
string5 = 'Husein Zolkepli dapat tempat ke-12 lumba lari hari ni'
string6 = 'Husein Zolkepli (2011 - 2019) adalah ketua kampng di kedah sekolah King Edward ke-IV'

## Load spell normalizer

In [3]:
corrector = malaya.spell.probability()
normalizer = malaya.normalize.spell(corrector)

In [4]:
normalizer.normalize('jgn lupa byar hutang Husein minggu depan, 3k ringgit, thun depan jumpa lagi')

{'normalize': 'jangan lupa bayar hutang Husein minggu depan , tiga ribu ringgit , tahun depan jumpa lagi',
 'date': {'minggu depan': datetime.datetime(2019, 9, 21, 1, 33, 18, 985139),
  'tahun depan': datetime.datetime(2020, 9, 14, 1, 33, 18, 989180)},
 'money': {'3k ringgit': 'RM3000'}}

Here you can see, Malaya normalizer will normalize `minggu depan` to datetime object, also `3k ringgit` to `RM3000`

In [5]:
print(normalizer.normalize(string1))
print(normalizer.normalize(string2))
print(normalizer.normalize(string3))
print(normalizer.normalize(string4))
print(normalizer.normalize(string5))
print(normalizer.normalize(string6))

{'normalize': 'tak jadi ke , kenapa awak tak suka makan HUSEIN kat situ tmpat , saya hate it . pelik lah , pada', 'date': {}, 'money': {}}
{'normalize': 'saya memang tak suka makanan HUSEIN kampung tempat , saya love them . pelik lah saya', 'date': {}, 'money': {}}
{'normalize': 'perdana menteri kesebelas sangat suka makan ayam , harganya cuma lima belas perpuluhan lima ringgit', 'date': {}, 'money': {'rm15.50': 'RM15.5'}}
{'normalize': 'pada sepuluh hari bulan empat , kementerian mengumumkan , satu per seratus', 'date': {}, 'money': {}}
{'normalize': 'Husein Zolkepli dapat tempat kedua belas lumba lari hari ni', 'date': {}, 'money': {}}
{'normalize': 'Husein Zolkepli ( dua ribu sebelas hingga dua ribu sembilan belas ) adalah ketua kampung di kedah sekolah King Edward keempat', 'date': {}, 'money': {}}

## Normalizing rules

#### 1. Normalize title,

```python

{
    'dr': 'Doktor',
    'yb': 'Yang Berhormat',
    'hj': 'Haji',
    'ybm': 'Yang Berhormat Mulia',
    'tyt': 'Tuan Yang Terutama',
    'yab': 'Yang Berhormat',
    'ybm': 'Yang Berhormat Mulia',
    'yabhg': 'Yang Amat Berbahagia',
    'ybhg': 'Yang Berbahagia',
    'miss': 'Cik',
}

```

In [6]:
normalizer.normalize('Dr yahaya')

{'normalize': 'Doktor yahaya', 'date': {}, 'money': {}}

#### 2. expand `x`

In [7]:
normalizer.normalize('xtahu')

{'normalize': 'tak tahu', 'date': {}, 'money': {}}

#### 3. normalize `ke -`

In [8]:
normalizer.normalize('ke-12')

{'normalize': 'kedua belas', 'date': {}, 'money': {}}

In [9]:
normalizer.normalize('ke - 12')

{'normalize': 'kedua belas', 'date': {}, 'money': {}}

#### 4. normalize `ke - roman`

In [10]:
normalizer.normalize('ke-XXI')

{'normalize': 'kedua puluh satu', 'date': {}, 'money': {}}

In [11]:
normalizer.normalize('ke - XXI')

{'normalize': 'kedua puluh satu', 'date': {}, 'money': {}}

#### 5. normalize `NUM - NUM`

In [12]:
normalizer.normalize('2011 - 2019')

{'normalize': 'dua ribu sebelas hingga dua ribu sembilan belas',
 'date': {},
 'money': {}}

In [13]:
normalizer.normalize('2011.01-2019')

{'normalize': 'dua ribu sebelas perpuluhan kosong satu hingga dua ribu sembilan belas',
 'date': {},
 'money': {}}

#### 6. normalize `pada NUM (/ | -) NUM`

In [14]:
normalizer.normalize('pada 10/4')

{'normalize': 'pada sepuluh hari bulan empat', 'date': {}, 'money': {}}

In [15]:
normalizer.normalize('PADA 10 -4')

{'normalize': 'pada sepuluh hari bulan empat', 'date': {}, 'money': {}}

#### 7. normalize `NUM / NUM`

In [16]:
normalizer.normalize('10 /4')

{'normalize': 'sepuluh per empat', 'date': {}, 'money': {}}

#### 8. normalize `rm NUM`

In [17]:
normalizer.normalize('RM 10.5')

{'normalize': 'RM 10.5', 'date': {}, 'money': {'rm 10.5': 'RM10.5'}}

#### 9. normalize `rm NUM sen`

In [18]:
normalizer.normalize('rm 10.5 sen')

{'normalize': 'sepuluh perpuluhan lima ringgit sen',
 'date': {},
 'money': {'rm 10.5': 'RM10.5'}}

#### 10. normalize `NUM sen`

In [19]:
normalizer.normalize('10.5 sen')

{'normalize': 'kosong perpuluhan satu kosong lima ringgit',
 'date': {},
 'money': {'10.5 sen': 'RM0.105'}}

#### 11. normalize money

In [20]:
normalizer.normalize('rm10.4m')

{'normalize': 'sepuluh juta perpuluhan empat ringgit',
 'date': {},
 'money': {'rm10.4m': 'RM10000000.4'}}

In [21]:
normalizer.normalize('$10.4M')

{'normalize': '$10.4M', 'date': {}, 'money': {'$10.4m': '$10.4m'}}

In [22]:
normalizer.normalize('rm10.4b')

{'normalize': 'sepuluh billion perpuluhan empat ringgit',
 'date': {},
 'money': {'rm10.4b': 'RM10.4'}}

#### 12. normalize cardinal

In [23]:
normalizer.normalize('123')

{'normalize': 'seratus dua puluh tiga', 'date': {}, 'money': {}}

#### 13. normalize ordinal

In [24]:
normalizer.normalize('ke123')

{'normalize': 'keseratus dua puluh tiga', 'date': {}, 'money': {}}

#### 14. normalize date string to datetime.datetime

In [25]:
normalizer.normalize('2 hari lepas')

{'normalize': 'dua hari lepas',
 'date': {'2 hari lalu': datetime.datetime(2019, 9, 12, 1, 33, 19, 295848)},
 'money': {}}

In [26]:
normalizer.normalize('esok')

{'normalize': 'esok',
 'date': {'esok': datetime.datetime(2019, 9, 15, 1, 33, 19, 833131)},
 'money': {}}

In [27]:
normalizer.normalize('okt 2019')

{'normalize': 'okt 2019',
 'date': {'okt 2019': datetime.datetime(2019, 10, 13, 0, 0)},
 'money': {}}

#### 15. normalize money string to string number representation

In [28]:
normalizer.normalize('50 sen')

{'normalize': 'kosong perpuluhan lima ringgit',
 'date': {},
 'money': {'50 sen': 'RM0.5'}}

In [29]:
normalizer.normalize('20.5 ringgit')

{'normalize': 'dua puluh perpuluhan lima ringgit',
 'date': {},
 'money': {'20.5 ringgit': 'RM20.5'}}

In [30]:
normalizer.normalize('20m ringgit')

{'normalize': 'dua puluh juta ringgit',
 'date': {},
 'money': {'20m ringgit': 'RM20000000'}}