In [1]:
import pydeck as pdk
import requests
import pandas as pd

In [2]:
A = pd.read_csv('https://data.sfgov.org/api/views/3mea-di5p/rows.csv?accessType=DOWNLOAD')

In [3]:
A.head()
A['coordinates'] = A.apply(lambda x: [x['Longitude'], x['Latitude']], axis=1)
A.head()

,EAS BaseID,Address,Address Number,Address Number Suffix,Street Name,Street Type,ZIP Code,CNN,Latitude,Longitude,point,SF Find Neighborhoods,Current Police Districts,Current Supervisor Districts,Analysis Neighborhoods,coordinates
0,456232,1580 MISSION ST,1580,NaN,MISSION,ST,94103,9109201,37.773677,-122.418299,POINT (-122.41829876690001 37.7736772593),32.0,5.0,10.0,20.0,"[-122.41829877, 37.77367726]"
1,464322,2093 HAYES ST,2093,NaN,HAYES,ST,94117,6832000,37.773194,-122.450649,POINT (-122.4506485589 37.7731942398),24.0,7.0,11.0,18.0,"[-122.45064856, 37.77319424]"
2,369083,1150 22ND ST,1150,NaN,22ND,ST,94107,1163000,37.757791,-122.392830,POINT (-122.39283028100002 37.7577905926),54.0,2.0,9.0,26.0,"[-122.39283028, 37.75779059]"
3,491847,3127 DIVISADERO ST,3127,NaN,DIVISADERO,ST,94123,4828000,37.798496,-122.442931,POINT (-122.4429310168 37.7984955331),14.0,4.0,6.0,13.0,"[-122.44293102, 37.79849553]"
4,490693,620 LAGUNA ST,620,NaN,LAGUNA,ST,94102,7950000,37.776889,-122.426222,POINT (-122.426221577 37.7768891192),22.0,4.0,11.0,9.0,"[-122.42622158, 37.77688912]"

In [4]:
B = A[['coordinates', 'Address']]
# B = B[B['Address'] == '60 SPEAR ST']
B.head()

                    coordinates             Address
0  [-122.41829877, 37.77367726]     1580 MISSION ST
1  [-122.45064856, 37.77319424]       2093 HAYES ST
2  [-122.39283028, 37.75779059]        1150 22ND ST
3  [-122.44293102, 37.79849553]  3127 DIVISADERO ST
4  [-122.42622158, 37.77688912]       620 LAGUNA ST

In [5]:
C = pd.read_csv('https://data.sfgov.org/api/views/j2j3-acqj/rows.csv?accessType=DOWNLOAD')
C.head()

,Parcel(s),Building Name,Building Address,Postal Code,Full.Address,Floor Area,Property Type - Self Selected,PIM Link,Year Built,Energy Audit Due Date,...,2012 Weather Normalized Source EUI (kBtu/sq.ft),2011 ENERGY STAR Score,2011 Site EUI (kBtu/ft2),2011 Source EUI (kBtu/ft2),2011 Percent Better than National Median Site EUI,2011 Percent Better than National Median Source EUI,2011 Total GHG Emissions (Metric Tons CO2e),2011 Total GHG Emissions Intensity (kgCO2e/ft2),2011 Weather Normalized Site EUI (kBtu/ft2),2011 Weather Normalized Source EUI (kBtu/ft2)
0,0010/001,2801 Leavenworth Street,2801 LEAVENWORTH ST,94109,"2801 LEAVENWORTH ST\nSAN FRANCISCO, CA 94109",133675,Office,http://propertymap.sfplanning.org/?&search=001...,1907.0,2023-04-01T00:00:00.000,...,149.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0010/002,Argonaut Hotel-SV,495 JEFFERSON ST,94109,"495 Jefferson St\nSAN FRANCISCO, CA 94109",180000,Hotel,http://propertymap.sfplanning.org/?&search=001...,1907.0,2020-04-01T00:00:00.000,...,115.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0011/007,Anchorage Office,2800 LEAVENWORTH ST,94133,"2800 LEAVENWORTH ST\nSAN FRANCISCO, CA 94133",121408,Mixed Use Property,http://propertymap.sfplanning.org/?&search=001...,0.0,2018-04-01T00:00:00.000,...,196.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0011/008,Anchorage Garage,500 BEACH ST,94133,"500 BEACH ST\nSAN FRANCISCO, CA 94133",198525,Strip Mall,http://propertymap.sfplanning.org/?&search=001...,1974.0,2018-04-01T00:00:00.000,...,72.3,NaN,0.0,NaN,NaN,NaN,83.82,NaN,0.0,NaN
4,0012/001,211 Jefferson St,2739 TAYLOR ST,94133,"2739 TAYLOR ST\nSAN FRANCISCO, CA 94133",40052,Retail Store,http://propertymap.sfplanning.org/?&search=001...,1953.0,2020-04-01T00:00:00.000,...,117.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
D = C.merge(B, left_on='Building Address', right_on='Address')
# D = D[['Building Address', 'coordinates']]
COLS = [x for x in D.columns if 'kgCO2e' in x or 'Building Address' in x or 'coordinates' in x]
D['kgCO2e/ft2'] = D[COLS].apply(lambda x: x['2017 Total GHG Emissions Intensity (kgCO2e/ft2)'] or \
             x['2016 Total GHG Emissions Intensity (kgCO2e/ft2)'] or \
             x['2015 Total GHG Emissions Intensity (kgCO2e/ft2)'], axis=1)
E = D[['kgCO2e/ft2', 'coordinates', 'Building Address']]
E = E.dropna()
E['quantile'] = pd.qcut(E['kgCO2e/ft2'], 3, labels=["good", "medium", "bad"])
E.head()

   kgCO2e/ft2                   coordinates     Building Address quantile
0         4.4  [-122.41947084, 37.80727797]  2801 LEAVENWORTH ST      bad
1         3.9   [-122.42017426, 37.8071748]     495 JEFFERSON ST   medium
2         2.1   [-122.41853727, 37.8073893]  2800 LEAVENWORTH ST     good
3         1.0  [-122.41782934, 37.80747932]         500 BEACH ST     good
4         4.8   [-122.41590675, 37.8077974]       2739 TAYLOR ST      bad

In [12]:
COLOR_LOOKUP = {
    'good': [0, 255, 0],
    'medium': [255, 255, 0],
    'bad': [255, 0, 0]
}
E['quantile_color'] = E.apply(lambda x: COLOR_LOOKUP[x['quantile']], axis=1)
E.head()

,kgCO2e/ft2,coordinates,Building Address,quantile,quantile_color
0,4.4,"[-122.41947084, 37.80727797]",2801 LEAVENWORTH ST,bad,"[255, 0, 0]"
1,3.9,"[-122.42017426, 37.8071748]",495 JEFFERSON ST,medium,"[255, 255, 0]"
2,2.1,"[-122.41853727, 37.8073893]",2800 LEAVENWORTH ST,good,"[0, 255, 0]"
3,1.0,"[-122.41782934, 37.80747932]",500 BEACH ST,good,"[0, 255, 0]"
4,4.8,"[-122.41590675, 37.8077974]",2739 TAYLOR ST,bad,"[255, 0, 0]"

In [14]:
df_dict = E.to_dict(orient='records') # Convert to a Python dictionary

In [19]:
layer = pdk.Layer(
    'ScatterplotLayer',
    data=df_dict,
    get_position='coordinates',
    opacity=0.5,
    get_radius=40,
    get_color='quantile_color')
view_state = pdk.ViewState(
    zoom=11,
    latitude=37.74139927315054,
    longitude=-122.4529266357422
)
view = pdk.View('MapView', True)
b = pdk.Deck(layers=[layer], initial_view_state=view_state, views=[view])
b.map_style = None
b.show()

RGVja0dMV2lkZ2V0KGpzb25faW5wdXQ9dSd7ImluaXRpYWxWaWV3U3RhdGUiOiB7ImJlYXJpbmciOiAwLCAibGF0aXR1ZGUiOiAzNy43NDEzOTkyNzMxNTA1NCwgImxvbmdpdHVkZSI6IC0xMjLigKY=

In [1]:
%R

UsageError: Line magic function `%R` not found.